## Import libraries

In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings(action='ignore')
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from scipy import stats
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot
import seaborn as sns
from itertools import combinations
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.feature_selection import RFE
from numpy.polynomial.polynomial import polyfit
from pandas import Series
import matplotlib.pylab as plt
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
import datetime
from dateutil.relativedelta import relativedelta
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.graphics.tsaplots import plot_acf
from matplotlib.pylab import rcParams
from statsmodels.tsa.arima_model import ARMA

## Check locations and read data

In [3]:
#https://www.kaggle.com/martinellis/nhl-game-data#team_info.csv

In [7]:
!pwd

/Users/flatironschool/Documents/Mod_4_Project_Folder/mod_4_project

In [5]:
!ls

README.md                  game_teams_stats.csv
game.csv                   mod_4_first_notebook.ipynb
game_goalie_stats.csv      player_info.csv
game_skater_stats.csv      team_info.csv

In [118]:
game = pd.read_csv('game.csv')
goalie_stats = pd.read_csv('game_goalie_stats.csv')
skater_stats = pd.read_csv('game_skater_stats.csv')
team_stats = pd.read_csv('game_teams_stats.csv')
player_info = pd.read_csv('player_info.csv')
team_info = pd.read_csv('team_info.csv')

In [119]:
df_list = [game,goalie_stats,skater_stats,team_stats,player_info,team_info]

## Work independently with each data frame

### game df

In [133]:
game.head(1)

,game_id,type,date_time,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,home_rink_side_start,venue,venue_time_zone_id,venue_time_zone_tz
0,2011030221,P,2012-04-29,19:00:00,1,4,3,4,right,Wells Fargo Center,America/New_York,EDT

In [121]:
## convert columns
#game.date_time_GMT= pd.to_datetime(game.date_time_GMT)
#game.date_time_GMT= pd.to_datetime(game.date_time_GMT, format='%H:%M').dt.time

In [131]:
## drop columns
#game.drop(['season','outcome','venue_link','venue_time_zone_offset'],axis=1,inplace=True)

### goalie stats df

In [138]:
goalie_stats.head()

,game_id,player_id,team_id,pim,shots,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst
0,2011030221,8455710,1,0,36,0,28,8
1,2011030221,8468524,4,0,26,5,16,5
2,2011030222,8455710,1,0,20,3,16,1
3,2011030222,8468524,4,0,34,0,28,6
4,2011030223,8468524,4,0,31,1,28,2

In [ ]:
### change columns

In [139]:
### drop columns
# goalie_stats.drop(['timeOnIce','assists','goals','saves','powerPlaySaves','shortHandedSaves','evenSaves','decision','powerPlaySavePercentage','savePercentage','evenStrengthSavePercentage'],axis=1,inplace=True)

### skater stats df

In [141]:
skater_stats.head()

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
0,2011030221,8467412,1,999,0,0,1,3,0,0,...,0,0,0,0,0,0,-1,885,98,16
1,2011030221,8468501,1,1168,0,0,0,4,0,0,...,0,1,1,0,0,1,0,767,401,0
2,2011030221,8470609,1,558,0,0,2,1,0,0,...,2,0,0,0,0,1,-1,542,0,16
3,2011030221,8471816,1,1134,0,0,1,4,0,0,...,0,1,0,0,0,1,-1,935,183,16
4,2011030221,8472410,1,436,0,0,1,3,0,0,...,6,0,0,0,0,0,-1,436,0,0

In [142]:
skater_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411578 entries, 0 to 411577
Data columns (total 22 columns):
game_id                 411578 non-null int64
player_id               411578 non-null int64
team_id                 411578 non-null int64
timeOnIce               411578 non-null int64
assists                 411578 non-null int64
goals                   411578 non-null int64
shots                   411578 non-null int64
hits                    411578 non-null int64
powerPlayGoals          411578 non-null int64
powerPlayAssists        411578 non-null int64
penaltyMinutes          411578 non-null int64
faceOffWins             411578 non-null int64
faceoffTaken            411578 non-null int64
takeaways               411578 non-null int64
giveaways               411578 non-null int64
shortHandedGoals        411578 non-null int64
shortHandedAssists      411578 non-null int64
blocked                 411578 non-null int64
plusMinus               411578 non-null int64
evenTimeOnIce           411578 non-null int64
shortHandedTimeOnIce    411578 non-null int64
powerPlayTimeOnIce      411578 non-null int64
dtypes: int64(22)
memory usage: 69.1 MB